body {
  font-family: Roboto, sans-serif;
}

.app {
  padding-top: 60px;
}

.content-main {
  margin: 30px 25px 0 25px;
  display: flex;
  justify-content: space-between;
}

.thread-main{
  width:100%;
}

.left-feed {
  width: 65%;
  padding: 15px;
  min-height: 800px; /* for testing */
}
.reply-form{
  width:100%;
}

.user-box {
  width: 30%;
  padding: 15px;
  min-height: 800px; /* for testing */
}