.userThread {
    margin: 50px 0px;
}

.noThread {
    display: flex;
    text-align: center;
    justify-content: center;
}

.threadAuthorPostCount {
    display: flex;
    margin-left: auto;
}
.threadTitle {
    float: auto;
}
.threadAvatar {
    float: left;
    margin-right: 20px;
}
.cardContent {
    display: flex;
    justify-content: flex-start;
}
.threadCard {
    margin: 15px 0px;
}